body {
}


a {
	font-family: avenir;
	text-decoration: none; 
	color: grey;
}

a:hover {
	text-decoration: underline;
	color: black;

}

img {

	max-width: 50%;
}

p {
	font-family: helvetica;
	max-width: 459px;
	text-align: left;
}

h1 {
	font-family: avenir;
	text-align: left;
}

.center {
}

.spacing{

	padding-bottom: 10px;
}

.container{

	width: 80%;
	max-width: 40em;
	margin: 0 auto;
}




/*Nav styling*/


		.nav {
				padding-left: 0;
				margin-left: 0;
				list-style: none;
				
		}

		.nav > li {
			display: inline-block;
		}

		.nav > li > a {
			display: block; 
		}

		.nav-center {
			text-align: center;
		}

		li {
			font-family: avenir;
			font-weight: bolder;
			font-style: italic;
			
		}


