body {

	margin-left: 2em;
}


a {
	font-family: avenir;
	text-decoration: none; 
	color: grey;
}

a:hover {
	text-decoration: underline;
	color: black;

}

img {}

p {
	font-family: helvetica;
	max-width: 459px;
	text-align: left;
}

h1 {
	font-family: avenir;
	text-align: left;
}

.center {

	margin-left: auto;
}





/*Nav styling*/


		.nav {
				padding-left: 0;
				margin-left: 0;
				list-style: none;
				
		}

		.nav > li {
			display: inline-block;
		}

		.nav > li > a {
			display: block; 
		}

		.nav-center {
			text-align: center;
		}

		li {
			font-family: avenir;
			font-weight: bolder;
			font-style: italic;
			
		}


